<h1>Add New Comment</h1>

<form action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="comment[resource_id]" value="<%=cookies[:link_id]%>"/>
  <input type="hidden" name="comment[user_id]" value="<%=@user.id%>" />

  <label for="new-comment"> Add Comment: </label><br>

    <textarea name="comment[content]"></textarea><br>

  <input type="submit" value="Post Comment">
</form>
