/* COLOR SCHEME:
 * #000080
 * #FFFFFF
 * #000000
 * #C0C0C0
 *
 *= require_tree .
 *= require_self
 *= foundation/foundation
 */

 @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: black;
  background-image: url("/assets/images/pluto.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000000;
  }

div {
  background: #ffffff;
}

h1, h2, h3, h4, h5, h6, th {
  color: #000080;
}


body * > {
 font-family: 'Roboto Slab', serif;
}

#main-body-container {
  margin: 0 auto;
  max-width: 80%;
  min-width: 40%;
  border: 4px solid #000080;
  padding: 10px;
  background: #ffffff;
  opacity: .93;
}

#main-body-container h1, h2, h3 {
  text-align: center;
}

#main-nav {
  max-width: 80%;
  min-width: 40%;
  height: 10%;
  /*float: right;*/
  margin: 0 auto;
  padding: 10px;
  border: 4px solid #000080;
  text-align: center;
  opacity: .95;
}

#main-nav a {
  margin: 0 auto;
  margin-bottom: 5%;
}

#panic-button {
  font-weight: 700;
}

table {
  margin: 0 auto;
  width: 90%;
  border: 1px solid #c0c0c0;
}


td {
  padding: 1%;
  margin: 1%;
  text-align: center;
  max-width: 50%;
}

button {
  margin: 0 auto;
  text-align: center;
  background-color: #000080;
  border: 1px #c0c0c0;
}

button a {
  text-decoration: none;
  color: #ffffff;
}
